*,
*::after,
*::before {
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Montserrat", sans-serif;
  //   font-family: 'Bebas Neue', sans-serif;
}
body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  background-color: #212629;
}

/////scrolebar/////
///
body::-webkit-scrollbar {
  width: 10px;
}
body::-webkit-scrollbar-thumb {
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#86c133),
    to(#48740a)
  );
  background: linear-gradient(#86c133 0%, #48740a 100%);
  border-radius: 50px;
}
body::-webkit-scrollbar-track {
  background-color: white;
}
.simplebar-content-wrapper {
  margin-top: 5em !important;
}
///header
.header__content {
  width: 100%;
  max-width: 1366px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  position: absolute;
  z-index: 999;
  padding: 0.5em 0.5em 0.5em 2em;

  margin-top: 1em;
  border-radius: 50px;

  top: 0;
  left: 0;
  right: 0;
}
.header__content__logo {
  display: flex;
  align-items: center;
  justify-content: center;
}
.header__content__logo__img {
  width: 120px;
}

.header__content__menu {
  width: 38px;
  height: 38px;

  background-color: #86c133;

  border-radius: 8px;
  color: white;
  border: none;
  cursor: pointer;
  padding: 0;
  display: none;
  align-items: center;
  justify-content: center;
}
.header__content__menu:hover {
  color: #000;
}
.header__content__nav {
  display: flex;
  align-items: center;
}
.header__content__nav__link {
  padding: 0 1em;
  height: 38px;
  font-size: 14px;
  color: #fff;
  text-decoration: none;
  display: flex;
  align-items: center;
  transition: 300ms ease-in-out;
}
.header__content__nav__link:hover {
  transition: 300ms ease-in-out;
  color: #86c133;
}
// .header__content__nav:hover {
//   transition: 300ms ease-in-out;
//   color: #6fa66b;
// }
.header__content__nav .header__content__cta__button {
  display: none;
}
.header__content__nav .header__content__cta__button__login {
  display: none;
}
.header__content__cta {
  display: flex;
  align-items: center;
  justify-content: center;
}
.header__content__cta__button {
  height: 38px;
  padding: 0 2em;
  background-color: #86c133;
  border: none;
  border-radius: 5px;
  margin-left: 1em;
  display: flex;
  align-items: center;
  color: white !important;
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  border: 1px solid #86c133;
  transition: 300ms ease-in-out;
  font-weight: bold;
}
.header__content__cta__button__login {
  height: 38px;
  padding: 0 2em;
  background-color: #fff;
  border: none;
  border-radius: 5px;
  margin-left: 1em;
  display: flex;
  align-items: center;
  color: #48740a !important;
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  border: 1px solid #86c133;
  transition: 300ms ease-in-out;
  font-weight: bold;
}
.header__content__cta__button__login:hover {
  transition: 300ms ease-in-out;
  background-color: #86c133;
  color: #fff !important;
}
.header__content__nav__link__button {
  height: 38px;
  padding: 0 2em;
  background-color: #86c133;
  border: none;
  border-radius: 30px;
  margin-left: 1em;
  display: flex;
  align-items: center;
  color: #fff !important;
  text-decoration: none;
  font-size: 14px;
  font-weight: 500;
  border: 1px solid #86c133;
  transition: 300ms ease-in-out;
  font-weight: bold;
}
.header__content__nav__link__button:hover {
  transition: 300ms ease-in-out;
  background-color: #fff;
  color: rgb(39, 39, 39) !important;
  border: 1px solid #86c133;
  font-weight: bold;
}
.header__content__cta__button:hover {
  transition: 300ms ease-in-out;
  background-color: #fff;
  color: rgb(39, 39, 39) !important;
  border: 1px solid #86c133;
  font-weight: bold;
}
.calenderly__section {
  display: flex;
  background-color: white;
  margin: 0 auto;
  width: 100%;
  align-items: center;
  justify-content: center;
  padding: 5em 0;
}
.home__section__background__img {
  width: 100%;
  height: 850px;
  object-fit: cover;

  //   object-position: center;
}
.home__section {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
}
.home__section__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: #fff;

  border-radius: 5px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
}

.home__section__content__overlay {
  position: absolute;
  top: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 1100px;
  margin: 0 auto;
  text-align: center;
}
.home__section__content__heading {
  font-size: 40px;
  color: #86c133;
  text-align: center;
  font-family: "Bebas Neue", sans-serif;
  letter-spacing: 1px;
}
.home__section__content__heading__main {
  font-size: 70px;
  color: #fff;
  text-align: center;

  font-family: "Bebas Neue", sans-serif;
}
.comparision__section__heading {
  font-size: 60px;
  color: #86c133;
  text-align: center;
  margin-top: 1.5em;
  font-family: "Bebas Neue", sans-serif;
}
.home__section__content__info {
  font-size: 16px;
  color: #fff;
  text-align: center;
  max-width: 900px;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}
.home__section__content__button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 45px;
  border-radius: 30px;
  max-width: 200px;
  background-color: #86c133;
  border: 2px solid #86c133;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  margin-top: 1em;
  cursor: pointer;
}

.home__section__content__button:hover {
  transition: 300ms ease-in-out;
  background-color: #fff;
  color: rgb(39, 39, 39) !important;
  border: 2px solid #86c133;
  font-weight: 600;
}
.home__section__content__overlay__card {
  width: 30%;
  max-width: 1200px;
  display: flex;
  justify-content: center;
  max-width: 400px;
  background-color: #1a1d1f;
  padding: 2em;

  margin: 1em;
  border-radius: 15px;
  border: 2px solid #1a1d1f;
}
.home__section__content__overlay__card:hover {
  transition: 300ms ease-in-out;
  border: 2px solid #86c133;
  cursor: pointer;
}
.home__section__content__overlay__card:hover
  .home__section__content__overlay__card__heading__info__heading {
  transition: 300ms ease-in-out;
  color: #fff;
}
.home__section__content__overlay__cards {
  width: 100%;
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 30px;
  flex-wrap: wrap;
}
.home__section__content__overlay__card__heading__info__text {
  font-size: 14px;
  color: #fff;
  // font-weight: 500;
  text-align: justify;
}
.home__section__content__overlay__card__heading__info {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.home__section__content__overlay__card__svg {
  margin-right: 0.8em;
  margin-top: 0.5em;
}
.home__section__content__overlay__card__heading__info__heading {
  font-size: 35px;
  color: #86c133;

  font-family: "Bebas Neue", sans-serif;
}
.comparision__section {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
}
.comparision__section__content {
  width: 100%;
  display: flex;
  justify-content: space-around;
  max-width: 1200px;
  position: absolute;
  top: 160px;
}
.comparision__section__img {
  width: 100%;
  height: 600px;
}
.comparision__section__content__left {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.comparision__section__content__right {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.comparision__section__content__left__content {
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
}
.comparision__section__content__left__content__left__error {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2em;
}
.comparision__section__content__left__content__left__heading {
  font-size: 18px;
  color: #fff;
  font-weight: 600;
}
.comparision__section__content__left__content__left__heading__two {
  font-size: 18px;
  color: #86c133;
  font-weight: 600;
}
.comparision__section__content__left__info:first-child {
  margin-top: 0.5em;
}
.comparision__section__content__left__info {
  padding: 1em;
  margin-bottom: 0.3em;
  font-size: 18px;
  color: #fff;
}
.comparision__section__content__top {
  display: flex;
  justify-content: space-around;
  width: 90%;
  margin-top: 0.5em;
}
.comparision__section__content__top__heading {
  max-width: 400px;
  text-align: center;
  color: #fff;
  margin-bottom: 0.7em;
  font-size: 16px;
}
.comparision__section__content__top__name__error {
  margin-top: 0.5em;
  margin-bottom: 4em;
}
.comparision__section__content__top__name {
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  font-size: 14px;
}
.comparision__section__content__top__name__two {
  color: #86c133;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 14px;
}
.comparision__section__content__bottom {
  display: none;
  padding: 1em;
  margin-bottom: 1em;
}
.comparision__section__content__top__name__error svg {
  width: 30px;
  height: 25px;
}
//------------------------------
.custom__select {
  cursor: pointer;
  padding: 6px 15px;
  font-size: 12px;
  border: 1px solid transparent;
  border-radius: 50px;
  margin-left: 5px;
  background-color: #6c6c6c;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.comparision__section__content__top__name__overlay {
  position: absolute;
  top: 190px;
  display: none;
}
.custom__select select {
  /* Styles for the select tag with the class "custom-select" */
  width: fit-content;
  height: 25px;
  padding: 0em 1em;
  font-size: 12px;
  border: 1px solid transparent;
  border-radius: 50px;
  background-color: #6c6c6c;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.custom__select img {
  height: 15px;
  display: flex;
  align-items: center;
}

/* Styles for when the dropdown is open */
.custom__select select:focus {
  outline: none;
}
.custom__select__two {
  display: none;
  padding: 6px 15px;
  font-size: 12px;
  border: 1px solid transparent;
  border-radius: 50px;
  margin-left: 5px;
  background-color: #6c6c6c;
  color: white;
  // display: flex;
  justify-content: center;
  align-items: center;
}
.custom__select__two select {
  /* Styles for the select tag with the class "custom-select" */
  width: fit-content;
  padding: 0px 2px 0px 0px;
  font-size: 12px;
  border: 1px solid transparent;
  border-radius: 50px;

  background-color: #6c6c6c;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.custom__select__two img {
  height: 15px;
  display: flex;
  align-items: center;
}
.custom__select__two select {
  width: 100px;
}
/* Styles for when the dropdown is open */
.custom__select__two select:focus {
  outline: none;
}
@media (max-width: 1060px) {
  .header__content__menu {
    display: flex;
  }
  .header__content__nav {
    flex-direction: column;
    position: absolute;
    top: 3.5em;
    left: 0px;
    background-color: #86c133;
    width: 100%;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
    padding: 0 2em 1.5em;
    animation: header__content__nav__animation 300ms both;
    transform-origin: top;
    z-index: 999;
  }
  @keyframes header__content__nav__animation {
    from {
      transform: scaleY(0);
    }
    to {
      transform: scaleY(1);
    }
  }

  .header__content__nav__link {
    width: 100%;
    justify-content: center;
    color: #fff;
    padding: 1em;
  }
  .header__content__nav__link:hover {
    color: #000;
  }
}
@media (max-width: 1050px) {
  .home__section__content__overlay__card {
    width: 45%;
  }
  .home__section__background__img {
    height: 1100px;
  }
  .home__section__content__info {
    width: 100%;
    max-width: 750%;
    padding: 0em 1em;
  }
}
@media (max-width: 900px) {
  // .home__section__background__img {
  //   height: 1030px;
  // }
}
@media (max-width: 850px) {
  .home__section__content__overlay__card {
    width: 100%;
  }
  .home__section__background__img {
    height: 1350px;
  }
  .home__section__content__heading__main {
    font-size: 50px;
  }
  .home__section__content__heading {
    font-size: 30px;
  }
  .comparision__section__content__bottom {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 170px;
  }
  .comparision__section__content__top__name__overlay {
    display: flex;
    flex-direction: column;
  }
  .comparision__section__img {
    height: 750px;
  }
  .comparision__section__content {
    display: none;
  }
  .footer__container__links__entry {
    padding-right: 2em;
  }
  .home__section__content__overlay__cards {
    bottom: 13px;
  }
}
@media (max-width: 520px) {
  .header__content__cta .header__content__cta__button {
    display: none;
  }
  .header__content__nav .header__content__cta__button {
    display: flex;
    margin-top: 0.5em;
    width: 100%;
    justify-content: center;
    margin-left: 0em;
    background-color: #48740a;
    color: #000;
  }
  .header__content__cta .header__content__cta__button {
    display: none;
  }
  .header__content__nav .header__content__cta__button {
    display: flex;
    margin-top: 0.5em;
    width: 100%;
    justify-content: center;
    margin-left: 0em;
    background-color: #48740a;
    color: #000;
  }
  .header__content__cta .header__content__cta__button__login {
    display: none;
  }
  .header__content__nav .header__content__cta__button__login {
    display: flex;
    margin-top: 0.5em;
    width: 100%;
    justify-content: center;
    margin-left: 0em;
    background-color: #fff;
    color: #000;
  }
  .header__content__cta__button__login:hover {
    background-color: #48740a;
    color: #fff !important;
  }
  .header__content__cta__button:hover {
    background-color: #fff;
    color: #000 !important;
  }
  .header__content {
    padding: 0.5em 1em;
  }
  .header__content__nav {
    width: 95%;
    left: 10px;
    border-radius: 5px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
  }
  .header__content {
    width: 90%;
  }
}
@media (max-width: 480px) {
  .header__content__nav {
    flex-direction: column;
    position: absolute;
    top: 4.5em;
    left: 0px;
    background-color: #86c133;
    width: 100%;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
    padding: 0 2em 1.5em;
    animation: header__content__nav__animation 300ms both;
    transform-origin: top;
    z-index: 999;
  }
  @keyframes header__content__nav__animation {
    from {
      transform: scaleY(0);
    }
    to {
      transform: scaleY(1);
    }
  }
  .header__content__logo img {
    width: 180px;
  }
  .custom__select__two {
    display: flex;
  }
  .custom__select {
    display: none;
  }
  .header__content {
    width: 98%;
  }
  .home__section__content__heading {
    font-size: 20px;
  }
  .home__section__content__heading__main {
    font-size: 35px;
  }
  .footer__container__links__entry {
    padding-right: 1em;
  }
  .footer__text__contant {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .footer__text__contant__links {
    padding-top: 0.5em;
  }
  .footer__container__links__entry {
    font-size: 14px;
  }
}
@media (max-width: 420px) {
  .home__section__background__img {
    height: 1340px;
  }
  .home__section__content__overlay__cards {
    bottom: -50px;
  }
  .home__section__background__img {
    height: 1400px;
  }
}
@media (max-width: 410px) {
  .home__section__background__img {
    height: 1300px;
  }
  .header__content__logo img {
    width: 150px;
  }
  .comparision__section {
    top: 3em;
  }
  .comparision__section__img {
    height: 800px;
  }
  .obsessivelysecure__section__content {
    margin-top: 3em;
  }
}
@media (max-width: 380px) {
  .home__section__background__img {
    height: 1460px;
  }
}
.bg-green-500{
    background-color: #86c133 !important;
}
.bg-gray{
  background-color: #1e1e1e !important;
}